<!DOCTYPE html>
<html>

<head>

</head>

<body>
  <h1> Make a Story!</h1>
  <form action = "/response" method = "POST">
    Plural Noun #1:
    <input type ="text" name ="noun1" value = "">
    <br>
    <br>
    Adjective #1:
    <input type ="text" name ="adjective1" value = "">
    <br>
    <br>
    Place #1:
    <input type ="text" name ="place1" value = "">
    <br>
    <br>
    Past tense verb #1:
    <input type ="text" name ="verbEd1" value = "">
    <br>
    <br>
    Historical Monument #1:
    <input type ="text" name ="historicalmonument1" value = "">
    <br>
    <br>
    Past tense verb #2:
    <input type ="text" name ="verbEd2" value = "">
    <br>
    <br>
    Adjective #2:
    <input type ="text" name ="adjective2" value = "">
    <br>
    <br>
    Animal:
    <input type ="text" name ="animal" value = "">
    <br>
    <br>
    Vehicle:
    <input type ="text" name ="vehicle" value = "">
    <br>
    <br>
    Historical Monument #2:
    <input type ="text" name ="historicalmonument2" value = "">
    <br>
    <br>
    Singular Noun #2:
    <input type ="text" name ="noun2" value = "">
    <br>
    <br>
    Name:
    <input type ="text" name ="name" value = "">
    <br>
    <br>
    Body part:
    <input type ="text" name ="bodypart" value = "">
    <br>
    <br>
    Onomatopoeia:
    <input type ="text" name ="onomatopoeia" value = "">
    <br>
    <br>
    Adjective #3:
    <input type ="text" name ="adjective3" value = "">
    <br>
    <br>
    <button type ="submit"> See your story</button>
  </form>
</body>

</html>
